.head {
  margin: 0;
}

.container-box {
  margin: 0 0 10px;
}

.notice {
  color: #008000;
}


th {
  padding: 1px 1px 5px;
}

td {
  padding: 1px 5px 7px;
}



// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
