body {
font-family: verdana, arial, helvetica, sans-serif;
font-size: 13px;
line-height: 18px;
margin: 33px;
color: #333333;
}

a {
  color: #666666;
}


p{
  margin: 33px;
}


span {
  font-weight: bold;
}









// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
